# BMAD
_bmad/
.claude/
# Next.js
.next/
out/

# Env
.env*.local
.env

# Test artifacts
playwright-report/
test-results/

# Build
tsconfig.tsbuildinfo

node_modules/
.pnpm-store/
.pnpm/
/src/generated/prisma
.vercel
